Bitmap_delete Bitmap "BMP\\delete.bmp"
Bitmap_access Bitmap "BMP\\access.bmp"
Bitmap_calc Bitmap "BMP\\calc.bmp"
Bitmap_common_saldo Bitmap "BMP\\common_saldo.bmp"
Bitmap_continue Bitmap "BMP\\continue.bmp"
Bitmap_date Bitmap "BMP\\date.bmp"
Bitmap_del Bitmap "BMP\\del.bmp"
Bitmap_viewopl Bitmap "BMP\\viewopl.bmp"
Bitmap_edit Bitmap "BMP\\Edit.bmp"
Bitmap_exceldoc Bitmap "BMP\\exceldoc.bmp"
Bitmap_filter1 Bitmap "BMP\\Filter1.bmp"
Bitmap_filter Bitmap "BMP\\Filter.bmp"
Bitmap_find Bitmap "BMP\\find.bmp"
Bitmap_findnext Bitmap "BMP\\FindNext.bmp"
Bitmap_goin Bitmap "BMP\\GoIn.bmp"
Bitmap_goout Bitmap "BMP\\GoOut.bmp"
Bitmap_insert Bitmap "BMP\\insert.bmp"
Bitmap_left2 Bitmap "BMP\\LEFT2.bmp"
Bitmap_left Bitmap "BMP\\LEFT.BMP"
Bitmap_lock Bitmap "BMP\\LOCK.BMP"
Bitmap_mark Bitmap "BMP\\MARK.BMP"
Bitmap_print Bitmap "BMP\\print.bmp"
Bitmap_refresh Bitmap "BMP\\refresh.bmp"
Bitmap_right Bitmap "BMP\\RIGHT.BMP"
Bitmap_subins Bitmap "BMP\\subins.bmp"
Bitmap_toadd Bitmap "BMP\\toadd.BMP"
Bitmap_unite Bitmap "BMP\\unite.bmp"
Bitmap_viewcorr Bitmap "BMP\\viewcorr.bmp"
Bitmap_about Bitmap "BMP\\about.bmp"
Bitmap_40 Bitmap "BMP\\Bitmap_40.bmp"
Bitmap_claster Bitmap "BMP\\claster.bmp"
Bitmap_access32 Bitmap "BMP\\BMP32\\access.bmp"
Bitmap_oau32 Bitmap "BMP\\BMP32\\oau.bmp"
Bitmap_oku32 Bitmap "BMP\\BMP32\\oku.bmp"
Bitmap_poau32 Bitmap "BMP\\BMP32\\poau.bmp"
Bitmap_poku32 Bitmap "BMP\\BMP32\\poku.bmp"
Bitmap_prodoc32 Bitmap "BMP\\BMP32\\prodoc.bmp"
Bitmap_ps32 Bitmap "BMP\\BMP32\\ps.bmp"
Bitmap_pred32 Bitmap "BMP\\BMP32\\pred.bmp"
Bitmap_reports32 Bitmap "BMP\\BMP32\\reports.bmp"
Bitmap_oplata32 Bitmap "BMP\\BMP32\\oplata.bmp"
Bitmap_corschet32 Bitmap "BMP\\BMP32\\corschet.bmp"
Bitmap_j_prov32 Bitmap "BMP\\BMP32\\j_prov.bmp"
Bitmap_jho32 Bitmap "BMP\\BMP32\\jho.bmp"
Bitmap_date32 Bitmap "BMP\\BMP32\\DATE.bmp"
Bitmap_copy Bitmap "BMP\\copy.bmp"
Bitmap_createfrom Bitmap "BMP\\createfrom.bmp"
Bitmap_groups Bitmap "BMP\\groups.bmp"
Bitmap_addgroup Bitmap "BMP\\addgroup.bmp"
BITMAP_CALENDAR32 Bitmap "BMP\\BMP32\\calendar.bmp"
Bitmap_folderup Bitmap "BMP\\folderup16_2.bmp"
Bitmap_folderdn Bitmap "BMP\\folderdn16_2.bmp"
Bitmap_save Bitmap "BMP\\save.bmp"
Bitmap_mail16 Bitmap "BMP\\mail16.bmp"
Bitmap_open_document16 Bitmap "BMP\\open_document16.bmp"
Bitmap_new_document16 Bitmap "BMP\\new_document16.bmp"
Bitmap_user_male16 Bitmap "BMP\\user_male16.bmp"
Bitmap_barcode Bitmap "BMP\\barcode.bmp"
Bitmap_valuta32 Bitmap "BMP\\BMP32\\valuta.bmp"
Bitmap_bird Bitmap "BMP\\bird.bmp"
Bitmap_folder_open Bitmap "BMP\\folder_open.bmp"
Bitmap_folder Bitmap "BMP\\folder.bmp"



