DOG1     BITMAP "dog1.bmp"
DOG2     BITMAP "dog2.bmp"
DOG3     BITMAP "dog3.bmp"
DOG4     BITMAP "dog4.bmp"
DOG5     BITMAP "dog5.bmp"
DOG6     BITMAP "dog6.bmp"
DOG7     BITMAP "dog7.bmp"
DOG8     BITMAP "dog8.bmp"
DOG9     BITMAP "dog9.bmp"
DOG10     BITMAP "dog10.bmp"
DOG11     BITMAP "dog11.bmp"
DOG12     BITMAP "dog12.bmp"
DOG13     BITMAP "dog13.bmp"
DOG14     BITMAP "dog14.bmp"
DOG15     BITMAP "dog15.bmp"
DOG16     BITMAP "dog16.bmp"
DOG17     BITMAP "dog16.bmp"
DOG18     BITMAP "dog16.bmp"
